# Variables a definir dans Netlify (Site configuration > Environment variables)
# Ne jamais mettre les vraies valeurs dans ce fichier.
VITE_PAYWALL_ENABLED=false
STRIPE_SECRET_KEY=sk_live_xxx
STRIPE_WEBHOOK_SECRET=whsec_xxx
FIREBASE_PROJECT_ID=kidroots-cdaf0
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-xxx@kidroots-cdaf0.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
# Tableau de bord : emails autorises (separes par des virgules)
OWNER_EMAILS=wld.azarservice@gmail.com
# Optionnel : e-mail de confirmation des resiliations (resend.com)
RESEND_API_KEY=re_xxx
MAIL_FROM=Mokalibo <contact@mokalibo.com>
MAIL_BCC=contact@azarconsulting.eu
