# Dependencies
node_modules/

# Build output
dist/
dist-ssr/

# Environnements / secrets
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# OS / editors
.DS_Store
.idea/
.vscode/
*.swp
*.swo

# Misc
*.local
.cache/
