rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Doc parent : seul son proprietaire peut lire/ecrire.
    match /users/{userId} {
      allow read, write: if request.auth != null
                         && request.auth.uid == userId;

      // Sous-collection des profils enfants
      match /children/{childId} {
        allow read, write: if request.auth != null
                           && request.auth.uid == userId;
      }
    }
  }
}
